<h1>calculadora</h1>
<input type="text" [(ngModel)]="msg" ><br>
<button (click)="setNum()">7</button>
<button (click)="setNum()">8</button>
<button (click)="setNum()">9</button>
<button (click)="mais()">+</button><br>
<button (click)="setNum()">4</button>
<button (click)="setNum()">5</button>
<button (click)="setNum()">6</button>
<button (click)="menos()">-</button><br>
<button (click)="setNum()">1</button>
<button (click)="setNum()">2</button>
<button (click)="setNum()">3</button>
<button (click)="multi()">x</button><br>
<button (click)="setNum()">0</button>
<button (click)="divs()">°/°</button>
<button (click)="igual()" >=</button>
